/* Styles for all forms */


//Buttons
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  &:active {
    background:darken($bg,25%);
  }
}
@mixin btn{
	border: none;
	// height: 36px;
	line-height: 1.2rem;
	outline: 0;
	padding: 1rem 2rem;
	-webkit-tap-highlight-color: transparent;
 	text-decoration:none;
 	color: $pb-white;
 	display: inline-block;
 	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
 	@include button-bg($pb-gray);
 	cursor: pointer;
 	overflow: hidden;
}
input[type=submit]{
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.btn, button{
	@include btn;
}

.btn-large{
	padding: 1.5rem 2rem;
}

.btn-purple{
	@include button-bg($pb-purple);
	color: $pb-white;
}

.btn-gold{
	@include button-bg($pb-gold);
	color: $pb-purple;
}
.btn-tan{
	@include button-bg($pb-tan);
	color: $pb-gray;
}
.btn-white{
	@include button-bg($pb-white);
	color: $pb-gray;
}
.btn-red{
	@include button-bg(red);
	color: $pb-white;
}
// //Hide masking beside lables
// span.shell{
// 	display: none;
// }


//Inputs

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search]{
	height: 36px;
	background: $pb-white;
	width: 100%;
	border: 1px solid $pb-tan;
	padding-left: 1vw;
	transition: all 200ms ease;

	@include desktop{
		border: none;
		border-bottom: 1px solid $pb-tan;
		width: inherit;
	}
	@include mobile{
		font-size: 16px;
	}
	&:focus, :active{
		border: 1px solid $pb-purple;
		transition: all 200ms ease;

		@include desktop{
			border: none;
			border-bottom: 1px solid $pb-purple;
		}
		&::placeholder{
			font-size: .75em;
			line-height: .75em;
			transition: all 200ms ease;
		}
		&::-webkit-input-placeholder{
			font-size: .75em;
			line-height: .75em;
			transition: all 200ms ease;
		}
		&::-moz-placeholder{
			font-size: .75em;
			line-height: .75em;
			transition: all 200ms ease;
		}
		&:-ms-input-placeholder{
			font-size: .75em;
			line-height: .75em;
			transition: all 200ms ease;
		}
		&:-moz-placeholder{
			font-size: .75em;
			line-height: .75em;
			transition: all 200ms ease;
		}
	}

}
input[type=checkbox]{
	display: inline-block;
	margin: 1rem;
	width: 1rem !important;
}
//Select

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
	height: 36px;
	background: $pb-white;
	width: 100%;
	border: 1px solid $pb-tan;
	padding-left: 1vw;
	transition: all 200ms ease;
	border-radius: 0;

	@include desktop{
		border: none;
		border-bottom: 1px solid $pb-tan;
		width: inherit;
	}

}
.input-icon{
	position: relative;

	input{
		text-indent: 32px;
	}
	i{
		position: absolute;
		top: .6rem;
		left: 1rem;
	}
}
.input-inline{
	display: inline-block;
}
textarea{
	width: 100%;
	background: $pb-gold;
	padding: 1rem;
}
.Form{
	background: $pb-white;
	padding: 1rem;
	form{
		margin-bottom: 78px;
	}
	input, select{
		background: $white;
	}

	&--input-group{
		padding: 1rem;
		@include transition(all 325ms ease)

		&.last{
			margin-bottom: 100px;
		}
	}
	&--input{
		width: 100% !important;
		&--small{
			width: 33% !important;
		}

	}
	.exp{
		@include clearfix;
		.exp-month{
			width: 66% !important;
			float: left;
		}
		.exp-year{
			width: 33% !important;
			float: left;
		}
	}
	&--textarea{
		width: 100% !important;
		height: 20rem;
		padding: .5rem;

		&--small{
			height: 10rem;
			width: 100% !important;
			padding: .5rem;
		}
	}
	&--submit{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $pb-white;
		z-index: 9999;


		.Form__cancel{
			float: left;
			padding: 1rem !important;
		}

		.Form__submit{
			float: right;
		}
	}
	&__error{
		color: red;
	}
	&--radio-group{
		display: block;
		margin-top: 1rem;
		margin-left: 1rem;
	}
	&--radio{
		margin-right: 1rem;

	}
	&--file{


		img{
			display: block;
			max-width: 100%;
		}
		i{
			font-size: 8rem;
			display: block;
		}
		p{
			font-style: italic;
			margin: .5rem 0;
		}
		input{
			margin: .5rem 0;
		}
	}
	small{
		font-size: .75rem;
		margin: 1rem;
	}
	&--hints{
		margin: .5rem;
	}

	.Plan--type{
		background: $pb-gold;
		margin: 2rem;
	}
}
.Item--Images{
	height: auto;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);

}
.Images{
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	flex-wrap: wrap;
	width: 77vw;
	@include tablet{
		width: 34vw;
	}
	@include desktop{
		width: 34vw;

	}
	@include largeDesktop{
		width: 32vw;
	}

	div{
		&:first-child{
			.Images--wrapper{
				width:70vw;
				height: 70vw;
				max-width: 400px;
				max-height: 400px;
				@include tablet{
					height: 30vw;
					width: 30vw;
				}
				@include desktop{
					height: 30vw;
					width: 30vw;

				}
			}
		}
	}

	&--wrapper{
		// cursor: pointer;
		position: relative;
		margin: .5rem;
		width: 35vw;
		height: 35vw;
		max-width: 200px;
		max-height: 200px;
		@include tablet{
			height: 15vw;
			width: 15vw;

		}
		@include desktop{
			height: 15vw;
			width: 15vw;

		}
	}

	&--place-holder{

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $pb-purple;
		cursor: pointer;
		i{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -30px 0 0 -30px;
			font-size: 4rem;
			text-align: center;
		}
		.spin{

		}
	}
	&--preview{
		position: absolute;
		top: 0;
		left: 0;
		img{
			max-width: 100%;
		}
	}
	&--actions{
		background: rgba(255,255,255,.35);
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:.25rem;
		text-align: right;
		.Images__action{
			font-size: 2rem;
			cursor: pointer;
			&:hover{
				color: lighten($pb-gray, 10%);
			}

		}
	}
	&__upload{
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&__error{
		color: red;
		font-weight: bold;
	}

}
.Profile--Images{
	//@include flexbox;
	//@include justify-content(center);
	//@include align-items(center);
	//flex-wrap: wrap;
	// @include tablet{
	// 	width: 34vw;
	// }
	// @include desktop{
	// 	width: 34vw;

	// }
	// @include largeDesktop{
	// 	width: 32vw;
	// }


	.Profile--Images--wrapper{
		//width: auto;
		//height: 300px;
		//max-width: 400px;
		//max-height: 400px;
		// @include tablet{
		// 	height: 30vw;
		// 	width: 30vw;
		// }
		// @include desktop{
		// 	height: 30vw;
		// 	width: 30vw;

		// }

	}

	&--wrapper{
		// cursor: pointer;
		position: relative;
		//margin: .5rem;
		// width: 35vw;
		// height: 35vw;
		// max-width: 200px;
		// max-height: 200px;
		// @include tablet{
		// 	height: 15vw;
		// 	width: 15vw;

		// }
		// @include desktop{
		// 	height: 15vw;
		// 	width: 15vw;

		// }
	}

	// &--place-holder{

	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: $pb-purple;
	// 	cursor: pointer;
	// 	i{
	// 		position: absolute;
	// 		top: 50%;
	// 		left: 50%;
	// 		margin: -30px 0 0 -30px;
	// 		font-size: 4rem;
	// 		text-align: center;
	// 	}

	// }
	&--preview{
		position: relative;
		top: 0;
		left: 0;
		//width: 300px;
		//height: 300px;
		img{
			max-width: 100%;
		}
	}
	&--actions{
		background: rgba(255,255,255,.35);
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:.25rem;
		text-align: right;
		.Images__action{
			font-size: 2rem;
			cursor: pointer;
			&:hover{
				color: lighten($pb-gray, 10%);
			}

		}
	}
	
	&__error{
		color: red;
		font-weight: bold;
	}

}
.Profile--Image--upload{
	//pointer-events: none;
	width: 300px;
	height: 50px;
	margin-top: 50px;
	position: relative;
	i{
		font-size: 1.2rem;
		display: inline-block;
	}
	
}
.Profile--Image__upload{
		cursor: pointer;
		opacity: 0;
		width: 300px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: auto;
		z-index: -5;
	}
.cropButton{
	margin-top: 50px;
	display: block;
	width: 300px;
	i{
		font-size: 1.3rem;
		display: inline-block;
	}
}
.loading_overlay{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: $pb-gray;
	opacity: .75;

	i{
		font-size: 4rem;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -30px 0 0 -30px;
		color: $pb-white;
	}
}

@include mobile{
	.home-search-input{
		input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search]{
			padding-top: 7px !important;
			padding-bottom: 7px !important;
			height: 50px !important;
		}
		.pe-7s-search{
			padding-top: 7px;
		}
	}

}

