/* Global Layout and mixins for layout */


@mixin global-padding{
		padding: 9px;
	@include desktop{
		padding: 18px 3.5%;
	}
}
.Avatar{
	border-radius: 50%;
	width: 4rem;
}

[v-cloak] {
	display: none;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@include mobile{
  body{
    padding-bottom: 40px !important;
  }
}

.ink_menu {
  display: block;
  position: absolute;
  background:rgba($pb-purple, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}
.ink {
  display: block;
  position: absolute;
  background:rgba(255,255,255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
  -webkit-animation:ripple 375ms linear;
   -moz-animation:ripple 375ms linear;
    -ms-animation:ripple 375ms linear;
     -o-animation:ripple 375ms linear;
        animation:ripple 375ms linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(1.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(1.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(1.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(1.5);}
}
