/* Grid useing susy
** http://susydocs.oddbird.net
*/

//Set the colunms
/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 93%,

  gutters: .25,

  gutter-position: inside,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
  );

/* Makes border-box properties */
@include border-box-sizing;

//container to
.container{
	@include container;
}
