/* Custom Icons used throughout the platform */
.pb-icon{
	height: 31px;
	width: 30px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	&.ico-small{
		height: 1rem;
		width: 1rem;
	}
	&.ico-large{
		height: 2.5rem;
		width: 2.5rem;
	}
	&.ico-xlarge{
		height: 4rem;
		width: 4rem;
	}
	&.ico-center{
		margin: 0 auto;
	}

	&.truck{
		background-image: url("/assets/images/icons/pocketbarn_icons_truck.svg");
	}
	&.shopbag{
		background-image: url("/assets/images/icons/pocketbarn_icons_shopbag.svg");
	}
	&.shoe{
		background-image: url("/assets/images/icons/pocketbarn_icons_shoe.svg");
	}
	&.storefront{
		background-image: url("/assets/images/icons/pocketbarn_icons_store.svg");
	}
	&.pocket-ico{
		background-image: url("/assets/images/mypocket.svg");
	}
	&.user{
		background-image: url("/assets/images/icons/user.svg");
	}
	&.user-white{
		background-image: url("/assets/images/icons/user-white.svg");
	}
	&.users{
		background-image: url("/assets/images/icons/users.svg");
	}
	&.signin{
		background-image: url("/assets/images/icons/like2.svg")
	}
	&.search-icon{
		background-image: url("/assets/images/icons/search.svg");
	}
	&.map-marker{
		background-image: url("/assets/images/icons/map-marker.svg");
	}
	&.map-marker-white{
		background-image: url("/assets/images/icons/map-marker-white.svg");
		height: 12px;
		width: 11px;
	}
	&.refresh{
		background-image: url("/assets/images/icons/refresh-2.svg");
	}
	&.comment{
		background-image: url("/assets/images/icons/comment.svg");
	}
	&.back{
		background-image: url("/assets/images/icons/back.svg");
	}
	&.help1{
		background-image: url("/assets/images/icons/help1.svg");
	}
	&.camera{
		background-image: url("/assets/images/icons/camera.svg");
	}
	&.my-pocket{
		background-image: url('/assets/images/mypocket.svg');
		width: 1.5rem;
		height: 1.5rem;
		margin: 4px 0;
		@include mobile{
			margin: 0;
		}
	}
	&.ticket{
		background-image: url("/assets/images/icons/ticket.svg");
	}
	&.wallet{
		background-image: url("/assets/images/icons/wallet.svg");
	}
	&.credit{
		background-image: url("/assets/images/icons/credit.svg");
	}
	&.star{
		background-image: url("/assets/images/icons/star.svg");
	}
	&.star-white{
		background-image: url("/assets/images/icons/star-white.svg");
	}
	&.plus{
		background-image: url("/assets/images/icons/plus.svg");
	}
	&.check{
		background-image: url("/assets/images/icons/check.svg");
	}
	&.diskette{
		background-image: url("/assets/images/icons/diskette.svg");
	}
	&.close-circle{
		background-image: url("/assets/images/icons/close-circle.svg");
	}
	&.close-circle-gray{
		background-image: url("/assets/images/icons/close-circle-gray.svg");
	}
	&.box1{
		background-image: url("/assets/images/icons/box1.svg");
	}
	&.attention{
		background-image: url("/assets/images/icons/attention.svg");
	}
	&.phone{
		background-image: url("/assets/images/icons/phone.svg");
	}
	&.browser{
		background-image: url("/assets/images/icons/browser.svg");
	}
	&.angle-down{
		background-image: url("/assets/images/icons/angle-down.svg");
	}




}



.mypocket-ico{
	width: 2rem;
	display: block;
	margin: 0 auto;
	img{
		display: block;
		width: 80%;
		padding: 15% 10%;

	}
}
.pocket-ico{
	width: 2rem;
	display: block;
	margin: 0 auto;
	img{
		display: block;
		width: 80%;
		padding: 15% 10%;

	}
}

.menu-ico{
	margin-top: -4px;
	display: block;
	margin-bottom: 25%;
	i.line{
		width: 2rem;
		height: 2px;
		display: block;
		background-color: $pb-gray;
		margin-top: 7.5px;
	}
}