.Plans{
	@include container;

	.Plan{
		@include span(11);
		padding: 0 !important;
		position: relative;
		display: block;
		overflow: hidden;
  		z-index:1;
		border: 2px rgba(0,0,0,0.12) solid;
		border-radius: 100px 1px 100px 1px ;
		@include box-shadow-black;
		box-sizing: border-box;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		background: $pb-tan;
		margin: .5rem auto;
		@include desktop{
			@include span(3.5);
			margin: 0 .5rem;
		}
		.Plan--top{
			text-align: center;
			background: $pb-gold;
			padding: 2rem;
			width: 100%;
		}
		.Plan--description{
			padding: 2rem;
			line-height: 1.5rem;
			li{
				padding-bottom: .5rem;
			}
			border-bottom: 3px solid $pb-gray;
		}
		.Plan__choose{
			.Plan--option{
				display: block;
				padding: .5rem;
			}
			padding: 2rem;

		}
		&.Current{
			opacity: .75;
			@include transform(scale(.95));
		}
	}
}