/* Tyopography for pocketbarn */
html{
	font-size: 14px;
	line-height: 1.5;
	font-family: $base-font;
	font-weight: 400;
	color: $pb-gray;
	@include tablet{
		font-size: 14.5px;
	}
	@include desktop{
		font-size: 15px;
	}
}

a{
	color: $pb-purple;
	&:active{
		color: $pb-purple;
	}
}
b{
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
	line-height: 110%;
	font-weight: 200;
}
h1{
	font-size: 4.2rem;
	margin: 2.1rem 0 1.68rem 0;
}
h2{
	font-size: 3.56rem;
	margin: 1.78rem 0 1.424rem 0;
}
h3{
	font-size: 2.92rem;
	margin: 1.46rem 0 1.168rem 0;
}
h4{
	font-size: 2.28rem;
	margin: 1.14rem 0 0.912rem;
}
h5{
	font-size: 1.64rem;
	margin: 0.82rem 0 0.636rem 0;
}
h6{
	font-size: 1rem;
	margin: 0.5rem 0 0.4rem 0;
}

p{
 -webkit-font-smoothing: antialiased;
}


code{
	display:block;
	padding: 4em;
	font-style: italic;
	font-family: monospace;
}


.text-center{
	text-align: center;
}




/* Heading with colored background*/

.home-heading {
	background-color: $pb-purple;
	color: $white;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}