


// Colors

$white: #ffffff;
$pb-white: #fcfdfc;
$pb-gold: #efece1;
$pb-tan: #d8d3cd;
$pb-purple: #a5a9b7;
$pb-gray: #4a4a56;

$facebook-color: #3b5998;
$twitter-color: #4099ff;
$google-color: #db3236;

$alert-red: #FF9494;
$yellow: #FCFF7E;

.error{
	color: $alert-red;
}


// Fonts
$base-font: 'Muli', sans-serif;
$brand-font: "mr-eaves-modern", sans-serif;


//Shadows

@mixin black-text-shadow{
	text-shadow: 0 2px 5px rgba(0,0,0,0.16);
}
@mixin white-text-shadow{
	text-shadow: 0 2px 2px rgba(255,255,255,0.16);
}

@mixin box-shadow-black{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

@mixin vh-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
