.about-page{
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
	margin-bottom: 6rem;
	h1, h2{
		text-align: center;
	}

	img{
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
	p{
		padding: 1rem 0;
		line-height: 1.75rem;
		@include desktop()
		{
			width: 100%;
			margin: 0 auto;
		}
	}
	.more{
		text-align: center;
		a{
			margin: 0 1rem;
		}
	}
}