.Home--about{
	width: 100%;
	height: 550px;
	@include mobile(){
		height: 150px;
	}
	@include tablet(){
		height: 300px;
		background-position: 10% 50%;
	}
	background: url('/assets/images/Pocketbarn_homepage_hero_blur.jpg') no-repeat;
	background-size: cover;
	display: flex;
	overflow: hidden;
	position: relative;
	@include mobile(){
		flex-direction: column;
	}

	&-photo{
		text-align: center;
		width: 100%;
		
		@include mobile(){
			width: 100%;
		}
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	&-story{
		display: block;
		transition: all 325ms;
		text-decoration: none;

		&:hover{
			background-color: rgba(lighten($pb-purple, 10%), .5);
			box-shadow: 0px 0px 20px 20px rgba(lighten($pb-purple, 10%), .5);

			transition: all 325ms;
			h1{
				@include black-text-shadow;
			}
		}
		@include mobile(){
			width: 100%;
			height: 150px;
			background-color: rgba(lighten($pb-purple, 10%), .5);
			box-shadow: 0px 0px 20px 20px rgba(lighten($pb-purple, 10%), .5);
		}
		@include tablet(){
			width: 50%;
			height: 300px;
			background-color: rgba(lighten($pb-purple, 10%), .5);
			box-shadow: 0px 0px 20px 20px rgba(lighten($pb-purple, 10%), .5);
		}
		color: $pb-gray;
		padding: 1rem;
		width: 50%;
		height: 550px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 50% 25%;
		text-align: center;
		h1{
			font-family: 'Handlee';
			font-size: 5vw;
			@include mobile(){
				font-size: 2rem;
			}
			@include tablet()
			{
				font-size: 2rem;
			}
		}
		
	}
}