.needPayment{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba($pb-gray, .75);
	display: flex;
	align-items: center;
	justify-content: center;
}
.account-page{
	margin-top: 3rem;
	.sidebar{
		@include span(12);
		@include tablet{
			@include span (3);
		}
		@include desktop{
			@include span (3);
		}
		li{
			border-top: 1px $pb-tan solid;
			padding: 1rem;
			font-size: 16px;
			position: relative;
			@include tablet{
				font-size: 14px;
			}
			@include desktop{
				font-size: 14px;
			}
		}
	}

	.editImage{
		position: relative;

		a{
			position: absolute;
			bottom: -5;
			right: 0;
			cursor: pointer;
			&:hover{
				color: $pb-gray;
			}
		}
	}

	.Profile, .Store,{
		position: relative;
		@include span(12);
		@include tablet{
			@include span (9);
		}
		@include desktop{
			@include span (9);
		}
	}

	.Store{
		&--profile-img{
			float: left;
			margin: 1.1rem 0 1.168rem 0;
			img{
				border-radius: 50%;
				width: 75px;
			}
			span{
				font-size: 4em;
			}
		}
		.item-alert{
			@include flexbox();
			@include flex-direction(column);
		    @include align-items(center);
		   	@include justify-content(center);
		   	background-color: $pb-gold;
		   	padding: 1rem;
		}
	}
	.Items{

		&--limit-reached{
			@include flexbox();
			align-item: center;
			justify-content: center;
			background-color: $pb-gray;
			padding: 1rem;
			color: $pb-white;
			i{
				font-size: 4rem;
			}
		}
	}
	.Item{
		&--limit-reached{
			@include flexbox();
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 9999;
			background-color: rgba($pb-gray, .75);
			padding: 1rem;
			color: $pb-white;
			p, div{
				height: auto;
			}
			.btn{
				margin-top: 2rem;
			}
			i.pe-7s-attention{
				font-size: 4rem;
			}
			i.pe-7s-angle-left{

			}
		}
		.recomended{
				padding: 1rem;
				background-color: $pb-gold;
				font-style: italic;
			}
	}

	.Seller{
		background-color: $pb-white;
		border: 1px solid $white;
		@include clearfix;
		padding: 1rem;
		.Avatar{
			float: left;
		}
		.avatar-filler{
			font-size: 5rem;
			float: left;
		}

		&__make-owner{
			cursor: pointer;
		}
		&__remove{
			font-size: .75rem;
			float: right;
		}
	}

	.Boosted{
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		flex-wrap: wrap;

		&--options{
			background-color: $pb-gold;
			margin: 1rem;
			padding: 1rem;
			width: 90%;
			@include tablet{
				width: 66%;
			}
			@include desktop{
				width: 50%;
			}
		}
		&--authorize{
			background-color: $pb-tan;
			font-style: italic;
			padding: 1rem;
			margin-top: 1rem;
			line-height: 1.2rem;
			strong{
				font-weight: bold;
			}
		}
	}
}

.CreditCard{
	width: 300px;
	height: 200px;
	border-radius: 20px;
	border: 2px solid $pb-gray;
	padding: 1.5rem;



	.cc_num{
		font-weight: bold;
		font-size: 1.4rem;

	}
	.cc_type{
		float: right;
		font-weight: bold;
		font-size: 1.4rem;
	}
}

//Support Page
.sidebar{
	li{
		cursor: pointer;
	}
}

.FAQs{
	@include span(12);
		@include tablet{
			@include span (9);
		}
		@include desktop{
			@include span (9);
		}
		&--list{
			line-height: 1.5rem;
		}
	.faq{
		line-height: 1.5rem;
		padding: 2rem;
		&:nth-child(even){
			background-color: $pb-tan;
		}
	}
}
.Issue{
	@include span(12);
		@include tablet{
			@include span (9);
		}
		@include desktop{
			@include span (9);
		}
		p{
			margin-top: 2rem;
			margin-bottom: .5rem;
		}
		textarea{
			height: 20rem;
		}
}