/* Style for the Header */

header{
	height: 80px;
	width: 100%;
	background: $pb-white;
	@include global-padding;
	box-sizing: border-box;
	@include clearfix;
	@include desktop{
		height: 100px;
	}
	@include mobile{
			height: 45px;
			position: fixed;
			width: 100%;
			bottom: 0;
			left: 0;
			z-index: 9998;
			display: block;
			border-top: solid 1px $pb-purple;
			.logo-wrapper{
				width: 20%;
				text-align: center;
				margin-left: 0 !important;

				.logo{
					display: block;
					margin: 0 auto;
					width: 100% !important;
					text-decoration: none !important;
					img{
						float: none !important;
						margin-right: 0 !important;
						margin-left: 0 !important;
						width: auto !important;
						height: 20px !important;
					}
				}
				span{
					display: block !important;
					text-decoration: none !important;
					color: $pb-gray !important;
					font-size: 11px !important;
					margin-top: 0 !important;
				}
			}
			nav.icon-menu{
				width: 80% !important;
				float: left !important;
				.menu-wrapper{
					width: 100%;
				}
				a{
					width: 25%;
				}
				img{
					width: auto;
					height: 20px !important;
				}
				.mypocket-ico, .pb-icon{
					height: 20px !important;
					padding-bottom: 2.5px !important;
					padding-top: 2.5px !important;
					img{
						width: auto;
						height: 15px !important;
					}
				}
				.pe-7s-like2{
					width: auto;
					font-size: 20px !important;
				}
				.pe-7s-user{
					width: auto;
					font-size: 20px !important;
				}
				.pe-7s-search{
					width: auto;
					font-size: 20px !important;
				}
				.pe-7s-shopbag{
					width: auto;
					font-size: 20px !important;
				}
				.menu-text{
					font-size: 11px !important;
				}
			}
	}

	//Logo
	.logo-wrapper{
		float: left;
		margin-left: 1vh;
		height: 100%;

		.logo{
			//Icon Logo
			height: 45px;
			display: block;
			img{
				height: 45px;
				float: left;
				margin-right: 7px;
			}

			//Text Logo
			span{
				display: none;
				@include desktop{
					display: block;
					float: left;
					height: 50px;
					line-height: 35px;
					white-space: nowrap;
					font-size: 3.56rem;
					color: $pb-gray;
					font-family: $brand-font;
					font-weight: 600;
				}
			}
		}

	}

	//Nav Icon Menu

	nav.icon-menu{
		width: auto;
		float: right;


		.menu-wrapper{

			a{
				display: block;
				float: left;
				//font-size: 3.5714rem;
				color: $pb-gray;
				padding: 0 .5vh;
				text-align: center;
				text-decoration: none;
				transition: all 300ms;
				position: relative;



				&:hover{
					text-decoration: underline;
					color: lighten($pb-gray, 30%);

					span.menu-text{
						color: lighten($pb-gray,30%);
					}
				}


				@include desktop{
					padding: 0 1.5vw;
					font-size: 2rem;
				}
				@include tablet{
					font-size: 2rem;
				}
				.mypocket-ico{
					width: 50px;
					height: 49px;
					@include tablet{
						height: 29px;
						width: 29px;
						}
					@include desktop{
						height: 29px;
						width: 29px;
					}
					img{
						width: 100%;
						height: 100%;
						padding: 0 10%;
					}
				}


				span.menu-text{
					display: block;
					text-align: center;
					font-size: 0.8rem;

					color: $pb-gray;
					@include desktop{
						display: block;
					}
				}

			}
		}
	}

} //Close header


//Nav Desktop Menu
	nav.desktop-menu{
		height: 50px;
		background: $pb-white;
		@include global-padding;
		display: none;

		@include tablet{
			display: block;
		}
		@include desktop{
			display: block;
		}
		ul{
			li{
				color: $pb-purple;
				float: left;
				&.fromthe{
					font-size: 1.5em;
				}
				a{
					color: $pb-gray;
					padding-right: 3vw;
					text-decoration: none;
					transition: all 300ms;

					&:hover{
						text-decoration: underline;
						color: lighten($pb-gray, 30%);

					}
				}
			}
		}
	}