

<template>
	<div :class="alertClasses" v-if="show" >
		<slot></slot>
		<span class="Alert__close" @click="show = false">
			<i class="pe-7s-close"></i>

		</span>
	</div>
</template>

<script>
	export default  {

		props: {
			type: {default: 'info' },
			timeout: {default: 3000 },
			important: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return{
				show: true,
			};
		},
		ready() {
			if(!this.important) {

				setTimeout(
					() => this.$root.alert.show = false,
					3000
				)
			}
		},
		computed: {
			alertClasses() {
				var type = this.type;

				return {
					'Alert' : true,
					'Alert--Success': type == 'success',
					'Alert--Error': type == 'error'
				}
			}
		}
	};


</script>