<template id="card-template">
	<div class="Cards">
		<div v-if="results">
			<div v-for="card in cards">
				<div class="Card animated fadeInUpBig" transition="slideUp">
			      <p v-if="card.promoted" class="Card--status boosted"><i class="pe-7s-check"></i> Promoted</p>
			    	<div class="Card--image">
			      		<a @click="goToItem(card.store.slug, card.id, card.slug)" :title="card.title" ><img :src="card.featured_image"></a>
			      	</div>
			      <!-- </a> -->

			    	<div class="Card--action">
			    		<img v-if="card.store.profile_img" :src="card.store.profile_img" class="Card--profile-img">
			      		<a @click="goToItem(card.store.slug, card.id, card.slug)" :title="card.title" class="Card--link" >
			      			<span class="Card--title">{{ shorten(card.title, 30) }}</span>
			      		</a>
			      		<p class="Card--price">${{ shorten(card.price, 6) }}</p>
			      		<p class="Card--location"><i class="pb-icon map-marker-white"></i><span>{{ card.store.city }}, {{ card.store.state }}</span></p>
			    	</div>
			    	<div class="Card__Over">
				    	<span @click="addToPocket('item', card.id)">
				    		<em>Save to My Pocket</em>
				    		<img class="pocket-ico" src="/assets/images/addtopocket.svg">
				    	</span>
				    	<span @click="goToItem(card.store.slug, card.id, card.slug)" :title="card.title">
				    		<em>Go To Item</em>
				    		<i class="pe-7s-right-arrow"></i>
				    	</span>
			    	</div>
			  	</div>
		  	</div>
		</div>
		<div v-else>
			<h3 class="text-center">We could not find any items that met your criteria.<br> Please try broadening your search.</h3>
		</div>
	</div>
  	<div id="Cards__loadMore" v-if="loadMore">
		Loading More Items <i class="pb-icon refresh spin"></i>
	</div>
</template>

<script>
	export default {
	template: "#card-template",
	props: {
		loadMore: {
			type: Boolean,
			default: true
		},
		terms: {
			type: String
		},
		lat: {
			type: Number,
		},
		lng: {
			type: Number,
		},
		location: {
			type: String
		},
		searchSubmit: {
			type: Number
		},
		cat: {
			type: String
		},
	},
	data(){
		return{
			items: [],
			cards: [],
			numberOfColunms: 4,
			vw: window.innerWidth
				|| document.documentElement.clientWidth
				|| document.body.clientWidth,
			 pagination: {
                total: 0,
                per_page: 20,
                from: 1,
                to: 20,
                current_page: 1
            },
           results: true,
           pageTop: 0,
           prev_page: 1,  

		}
	},

	created() {
		//this.fetchItems(this.pagination.current_page)

		if(p)
		{
			console.log(l);
			this.prev_page = parseInt(p);
			this.pageTop = parseInt(l);
			this.pagination.per_page = (this.prev_page * 20);
		}
		
		this.fetchItems(this.pagination.current_page);

	},
	ready() {
		this.listenForScroll();
		
	},
	watch: {
		pagination: function()
		{
			console.log(this.pagination.current_page);
		},
		lat: function(newLat) {
			this.fetchItems();
		},
		searchSubmit: function(newSubmit) {
			this.fetchItems()
		},
		// terms: function(newTerms) {
		// 	if(this.location != ''){
		// 		this.fetchItems()
		// 	}
		// },
		cards: function(count) {
			if(this.cards.length == 0)
			{
				this.results = false;
			}
			else
			{
				this.results = true;
			}
		},
		cat: function() {
			if(this.cat != ''){
				this.fetchItems()
			}
		}
	},
	methods: {
		fetchItems: _.debounce(
			function(page) {
				if(this.location)
				{
					this.codeAddress();
				}
			var options = {
				params: {
					page: this.pagination.current_page,
					per_page : this.pagination.per_page,
					take: this.pagination.take,
					lat: this.lat,
					lng: this.lng,
					terms: this.terms,
					cat: this.cat,
				}
			}
			this.$http.get('/api/v1/search', options).then((response) =>{
				if(response.data.pagination){
					if(this.pagination.current_page <= response.data.data.last_page){

						this.items = response.data.data.data;
						this.pagination = response.data.data;
						this.addItemsToCards();
						this.$root.cat = '';
						this.listenForScroll()
						this.pagination.per_page = 20;

						
					}
					else{
						this.loadMore = false;
					}
				}
				else{
					this.cards = [];
					this.items = [];
					this.loadMore = false;
					this.items = response.data.data;
					this.addItemsToCards();

				}
				var vm = this;
				if(this.pageTop > 0)
				{
					
					window.setTimeout( function() {
						console.log(vm.pageTop);
						$(window).scrollTop(vm.pageTop);
						vm.pageTop = 0;
					}, 0);
						
				}
			} ,(response) =>  {

			});

		},
		500
		),
		addItemsToCards(){


			for (var i=0; i< this.items.length; i++)
			{
				this.cards.push(this.items[i]);
			}

		},
		listenForScroll() {
			window.addEventListener('scroll', this.loadMoreItems);
		},
		ignoreScroll()
		{
			window.removeEventListener('scroll', this.loadMoreItems);
		},
		loadMoreItems() {

			var el = document.getElementById('Cards__loadMore');
			if(el){
		    	var elemTop = Math.floor(el.getBoundingClientRect().top);
		    	var elemBottom = Math.floor(el.getBoundingClientRect().bottom);
		    	var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
		 	}
		     if(isVisible){
		     	this.ignoreScroll();
		     	if(this.prev_page > 1)
		     	{
		     		this.pagination.current_page = this.prev_page + 1;
		     		this.prev_page = 0;
		     	}
		     	else{
		     		this.pagination.current_page++;
		     	}
		     	window.history.pushState('page'+this.pagination.current_page, 'Pocketbarn', '?page='+this.pagination.current_page);


		     	// this.pagination.current_page = page;
		     	//console.log(this.pagination.current_page );
		     	this.fetchItems(this.pagination.current_page);


		     }
		},
		codeAddress() {
		    var address = this.location;
		    var geocoder = new google.maps.Geocoder();
		    var vm = this;
		    geocoder.geocode( { 'address': address}, function(results, status) {
		      if (status == 'OK') {
		        vm.lat = results[0].geometry.location.lat();
		        vm.lng = results[0].geometry.location.lng();
		        }
		      else {
		        alert('Geocode was not successful for the following reason: ' + status);
		      }
		    });
		  },
		addToPocket(type, id) {
			this.$http.get('/api/v1/mypocket/addToPocket/'+type+ '/'+id).then((response) =>{
					this.$root.alert.message = 'Item has been added to your pocket';
					this.$root.alert.type = 'success';
					this.$root.alert.show = true;
					$("#mypocket").removeClass('bounce').addClass('bounce');
				} ,(response) =>  {
					this.$root.alert.message = response.body;
					this.$root.alert.type = 'error';
					this.$root.alert.show = true;
				});
		},
		goToItem(storeSlug, itemId, itemSlug)
		{
			this.pageTop = $(window).scrollTop();

			var urlPage = '?p=' + this.pagination.current_page,
				urlTop = '&l=' + this.pageTop,
				newUrl = urlPage + urlTop;
			if(this.cat){ var urlCat = '&cat=' + this.cat; newUrl = newUrl + urlCat; }
			if(this.location){ var urlLoc = '&loc=' + this.location; newUrl = newUrl + urlLoc; }
			if(this.terms){ var	urlTerms = '&terms=' + this.terms; newUrl = newUrl + urlTerms; }

			window.history.pushState('page'+this.pagination.current_page, 'Pocketbarn', newUrl);
			window.location = '/item/' + storeSlug + '/' + itemId + '/' + itemSlug;
		},
		getUrlVars() {
		    var vars = {};
		    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
		    function(m,key,value) {
		      vars[key] = value;
		    });
		    return vars;
		  },
		  shorten(str, limit) {
		  	if(str.length > limit){ str = str.substring(0,limit);
		  		return str + '...';
		  	}
		  	else{
		  		return str;
		  	}
		  }

	}

};
</script>