<template idv"conversations-template">
	<div class="Conversations">
		<h5 v-show="loading" class="text-center Conversations__loading animated" transition="fade">
		<i class="pe-7s-refresh spin"></i>
		Getting Your Conversations
		</h5>
		<div v-if="results" >
			<div class="Convo"  v-for="conversation in conversations" >
				<div :class="unreadClass(conversation.pivot.unread)" class="Convo--wrapper" >
					<div class="Convo--preview" @click="goToConversation(conversation.id)">
						<div class="store-profile-pic">
							<img v-if="conversation.store.profile_img" class="profile" :src="conversation.store.profile_img">
							<i v-else class="pe-7s-shopbag"></i>
						</div>
						<div class="message-text">
						<p class="sender">{{ conversation.latest_message.sender.name }}</p>
						<p class="content"> {{{ conversation.latest_message.content }}}</p>
						</div>
					</div>
					<div class="Convo--actions">
						<span @click="openModal(conversation.id)"><i class="pb-icon close-circle ico-center"></i> Leave</span>
						<span v-if="conversation.archived"><i class="pb-icon box1 ico-center"></i> Archived</span>
					</div>
				</div>
		  	</div>
		</div>
		<div v-else>
			<h3 class="text-center">You currently have no conversations</h3>
		</div>
	</div>
	<modal v-show="showModal">
	    <!--
	      you can use custom content here to overwrite
	      default content
	    -->
	  	<h3 slot="header">Leave Conversation</h3>

	  	<div slot="body">
	  		<p class="text-center">You are leaving this conversation are you sure?</p>
	  	</div>
	  	<div slot="footer">
          <button class="btn btn-tan" @click="closeModal()">
                Cancel
              </button>
               <button class="btn btn-purple" @click="leaveConversation()">
                Leave
              </button>
        </div>
	  </modal>
</template>

<script>
	import Modal from './Modal.vue';

	export default {
	template: "#conversations-template",
	components: {Modal},
	props: ['user', 'store'],
	data(){
		return{
			loading: true,
			conversations: [],
            results: true,
            showModal: false,
		}
	},

	created() {
		this.fetchConversations()
	},
	ready() {
		var vm = this;
		setInterval( function() {

			vm.fetchConversations()
		}, 60000);
	},
	watch: {
		conversations: function(count) {
			if(this.conversations.length == 0)
			{
				this.results = false;
			}
			else
			{
				this.results = true;
			}
		}
	},
	computed: {

	},
	methods: {
		fetchConversations(){
			if(this.store)
			{
				this.getStoreConversations();
			}
			else
			{
				this.getUsersConversations();
			}

		},
		getUsersConversations()
		{
			var options = {
					params: {
						user: this.user,
					}
				}
				this.$http.get('/api/v1/conversations/getUsersConversations', options).then((response) =>{
					this.loading = false;
					this.conversations = response.body;

				} ,(response) =>  {

				});
		},
		getStoreConversations()
		{
			var options = {
					params: {
						user: this.user,
					}
				}
				this.$http.get('/api/v1/conversations/getStoreConversations', options).then((response) =>{
					this.loading = false;
					this.conversations = response.body;
				} ,(response) =>  {

				});
		},
		unreadClass(e) {
			if(e ==1)
			{
				return 'Convo__unread';
			}
			else
			{
				return 'Convo__read';
			}
		},
		goToConversation(id) {
			window.location = '/conversation/' + id;
		},
		openModal(id)
		{
			this.queuedConversation = id;
			this.showModal = true;
		},
		closeModal()
		{
			this.queuedConversation = '';
			this.showModal = false;
		},
		leaveConversation()
		{
			this.showModal = false;
			var id = this.queuedConversation;
			this.$http.get('/api/v1/conversations/leaveConversation/' + id).then((response) =>{
				this.reload = true;
				this.fetchConversations();
				this.queuedConversation = '';

			} ,(response) =>  {

			});
		}


	}

};
</script>