<template>
	<div class="video">
		<video autoplay muted="">
			<source src="/assets/videos/pocketbarn_v1.mp4" type="video/mp4">
			Your browser does not support video.
		</video>
			<div class="playbutton">
				<i class="pe-7s-play"></i>
			</div>
	</div>
</template>

<script>
	export default  {

		props: {
		},
		data() {
			return{

			};
		},
		ready() {

		},
		computed: {

		}
	};


</script>