<template id="image-upload-template">
	<div class="Images">
		<p class="Images__error" v-if="error != ''">{{ error }}</p>
		<div v-for="image in images">
			<div class="Images--wrapper">
				<div v-if="!image.src" class="Images--place-holder ">
					<i v-if="!image.loading" class="pe-7s-camera"></i>
					<i v-else class="pe-7s-refresh pe-spin pe-va"></i>
				</div>
				<div v-else="image.src" class="Images--preview">
				<img :src="image.src" />
				</div>
				<div v-if="!image.src">
					<form id="uploadImageForm" >
						<input @change="uploadImage(image, $event)" type="file" class="Images__upload" name="image" >
					</form>
				</div>
				<div v-else class="Images--actions">
					<i class="Images__action pe-7s-close-circle" @click="removeImage(image)"></i>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
	template: "#image-upload-template",
	props: ['item'],
	data(){
		return{
			fileUploadFormData: new FormData(),
			current_image: 1,
			images: {
	            img1:{num: 1, src: '', loading: false},
	            img2:{num: 2, src: '', loading: false},
	            img3:{num: 3, src: '', loading: false},
	        },
            error: '',
		}
	},

	created() {
	},
	ready() {
		this.getImages()
	},
	watch: {
		error: function(newError)
		{
			var vm = this;
			setTimeout(function() { vm.error = '' }, 5000);
		}
	},
	methods: {
		uploadImage(i, e) {
			var num = i.num;
			e.preventDefault();
			var error = '';
			var file = e.target.files[0];
			var img = 'img'+num;
			this.fileUploadFormData.append('file', file);
			this.images[img]['loading'] = true;
			this.$http.post('/store/image/upload', this.fileUploadFormData).then((response) => {
				this.images[img]['src'] = response.body.pb_400x400;
				//this.current_image = this.current_image + 1;
				this.fileUploadFormData.append('file', '');
				this.images[img]['loading'] = false;
				this.$root['images'][img]['src'] = response.body.pb_400x400;
				//console.log(this.$root['images']);
				//console.log(this.$root['form']);
			}, (response) => {
				this.error = response.body.error;
				this.images[img]['loading'] = false;
				this.fileUploadFormData.append('file', '');
			},);
		},
		removeImage(i) {
			console.log(i);
			var r = confirm('Are you sure you want to delete this image?');
			if(r){
				var img = 'img'+i.num;
				//Are we editing an item? If so the image need deleted from DB if not remove from this.images
				if(i.id)
				{
					this.$http.get('/api/v1/image/remove/' + i.id).then((response) => {
						this.images[img]['src'] = '';
						this.images[img]['id'] = '';
						this.images[img]['loading'] = false;
					}, (response) => {
						console.log('There was a problem getting Iamges')
					});
				}
				else{

					this.images[img]['src'] = '';
					this.$root['images'][img]['src'] = '';
					this.$root.form['formImage'+num] = '';
					this.images[img]['loading'] = false;
				}
			}
		},
		getImages() {
			if(this.item)
			{
				this.$http.get('/api/v1/image/getItemImages/' + this.item).then((response) => {
				this.images = response.body;
				this.$root.images = response.body;
			}, (response) => {
				console.log('There was a problem getting Iamges')
			});
				this.$root.item_id = this.item;
			}
		}

	}

};
</script>