<template id="messages-template">
	<div class="Messages" >
		<div class="store-profile-pic">
			<img v-if="conversation.store.profile_img" class="profile" :src="conversation.store.profile_img">
			<i v-else class="pe-7s-shopbag"></i>
			<h4>{{ conversation.store.name }}</h4>
		</div>
		<span class="Messages__actions" @click="openModal(conversation.id)"><i class="pb-icon close-circle-gray ico-small"></i> Leave Conversation</span>

		<h5 v-show="loading" class="text-center Messages__loading animated" transition="fade">
		<i class="pe-7s-refresh spin"></i>
		Getting Your Messages
		</h5>
		<div v-if="results" >
			<div class="Message"  v-for="message in conversation.messages" >
				<div class="Message--wrapper" >
					<div class="Message--sender">
						<img v-if="message.sender.avatar != ''" class="avatar" :src="message.sender.avatar">
						<i v-else class="pe-7s-user avatar-filler"></i>
						<p class="sender-name">{{ message.sender.name }}
						<i sender-name v-if="message.sender.id != user.id">{{ conversation.store.name }}</i>
						</p>
						<p class="sent-date">{{ message.created_at_readable }}</p>
					</div>
					<div class="Message--content"> {{{ message.content }}}</div>
				</div>
		  	</div>
		  	<div v-if="conversation.archived" class="Message">
		  		<div class="Message--wrapper" >
		  			<div class="Message--archived">
		  				All other people in this conversation have left. We have archived this conversation for your records.
		  			</div>
		  		</div>
		  	</div>
		  	<div v-else class="Message">
		  		<div class="Message--wrapper" >
					<div class="Message--sender">
						<img v-if="user.avatar != ''" class="avatar" :src="user.avatar">
						<i v-else class="pe-7s-user avatar-filler"></i>
						<p class="sender-name">{{ user.name }}</p>
					</div>
				  	<div class="Message--content">
				  		<textarea v-model="newMessage" class="Messages__new-message" cols="10"></textarea>
				  		<button class="btn" @click="sendMessage">Send Message</button>
				  	</div>
				</div>
			</div>
		</div>
		<div v-else>
			<h3 class="text-center">You currently have no conversations</h3>
		</div>
	</div>
	<modal v-show="showModal">
	    <!--
	      you can use custom content here to overwrite
	      default content
	    -->
	  	<h3 slot="header">Leave Conversation</h3>

	  	<div slot="body">
	  		<p class="text-center">You are leaving this conversation are you sure?</p>
	  	</div>
	  	<div slot="footer">
          <button class="btn btn-tan" @click="closeModal()">
                Cancel
              </button>
               <button class="btn btn-purple" @click="leaveConversation()">
                Leave
              </button>
        </div>
	  </modal>
</template>

<script>
import Modal from './Modal.vue';

	export default {
	template: "#messages-template",
	components: {Modal},
	props: ['conversationId', 'user'],
	data(){
		return{
			loading: true,
			conversation: [],
			 pagination: {
                total: 0,
                per_page: 12,
                from: 1,
                to: 0,
                current_page: 1
            },
            results: true,
            newMessage: '',
            alert: {
				show: false,
				type: '',
				message: '',
			},
			showModal: false,
		}
	},

	created() {
		this.fetchMessages(this.pagination.current_page)
	},
	ready() {

	},
	watch: {
		conversations: function(count) {
			if(this.conversations.length == 0)
			{
				this.results = false;
			}
			else
			{
				this.results = true;
			}
		}
	},
	computed: {

	},
	methods: {
		fetchMessages(){
			var options = {
				params: {
					conversation: this.conversationId,
				}
			}
			this.$http.get('/api/v1/getMessages', options).then((response) =>{
				this.loading = false;
				this.conversation= response.data
			} ,(response) =>  {

			});

		},
		sendMessage() {
			var message_data = {
				 	conversation: this.conversationId,
				 	content: this.newMessage,
				}
				this.$http.post('/api/v1/messages/sendMessage', message_data).then((response) => {
						this.alert.message = response.body;
						this.alert.type = 'success';
						if(this.$refs.alertChild) this.$refs.alertChild.show = true;
						this.alert.show = true;
						this.newMessage = '';

						this.fetchMessages();

					}, (response) => {
						this.alert.message = response.body;
						this.alert.type = 'error';
						if(this.$refs.alertChild) this.$refs.alertChild.show = true;
						this.alert.show = true;
					});
		},
		openModal(id)
		{
			this.queuedConversation = id;
			this.showModal = true;
		},
		closeModal()
		{
			this.queuedConversation = '';
			this.showModal = false;
		},
		leaveConversation()
		{
			this.showModal = false;
			var id = this.queuedConversation;
			this.$http.get('/api/v1/conversations/leaveConversation/' + id).then((response) =>{
				window.location = '/conversations';

			} ,(response) =>  {

			});
		}
	}

};
</script>