<template id="modal-template">
    <div class="modal-mask animated" transition="modal">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                No
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default  {
  template: '#modal-template'
};
</script>