<template id="moreitems-template">
	<div v-for="item in items">
		<div class="Card" v-bind:class="classObject">
			<div class="Card--image">
				<a @click="goToItem(item.store.slug, item.id, item.slug)" class="Card--link" >
					<img :src="item.featured_image" >
				</a>
			</div>
			<div class="Card--action">
				<a @click="goToItem(item.store.slug, item.id, item.slug)" class="Card--link" >
	       			<span class="Card--title">{{ item.title }}</span>
	       			<a href="#" class="Card--location"><i class="pb-icon map-marker ico-small"></i>{{ item.store.city }}, {{ item.store.state }}</a>
	       		</a>
	    	</div>
	    	<div class="Card__Over">
		    	<span @click="addToPocket('item', item.id)">
		    		<em>Add to My Pocket</em>
		    		<img class="pocket-ico" src="/assets/images/addtopocket.svg">
		    	</span>
		    	<span @click="goToItem(item.store.slug, item.id, item.slug)">
		    		<em>Go To Item</em>
		    		<i class="pe-7s-right-arrow"></i>
		    	</span>
	    	</div>
		</div>
	</div>
</template>

<script>
export default {
	template: "#moreitems-template",
	props:['store', 'category', 'item', 'page'],
	data() {
		return{
			items: [],

		}
	},
	created() {
		this.fetchItems();
	},
	methods: {
		fetchItems: function() {
			var options = {
				params: {
					store: this.store,
					currentItem: this.item,
					category: this.category,
					page: this.page

				}
			}
			this.$http.get('/api/v1/getMore', options).then((response) => {
				this.items = response.data.data;
			}, (response) => {

			});
		},
		goToItem(store, id, item)
		{
			window.location = '/item/' + store + '/' + id + '/' + item;
		},
		addToPocket(type, id)
		{
			this.$http.get('/api/v1/mypocket/addToPocket/'+type+ '/'+id).then((response) =>{
					this.$root.alert.message = 'Item as been add to your pocket';
					this.$root.alert.show = true;
				} ,(response) =>  {
					this.$root.alert.message = 'There was a problem adding item to your pocket';
					this.$root.alert.type = 'error';
					this.$root.alert.show = true;
				});
		},

	},
	computed: {
		classObject: function() {
				if(!this.item)
				{
					return 'inColumn';
				}
				else if(!this.category)
				{
					return 'inSidebar';
				}

		}
	}
}


</script>

