<template id="notification-template">
	<span v-if="unread != 0" class="Notification--badge animated" v-bind:class="{ bounce: changed }">{{unread}}</span>
</template>

<script>
export default {
	template: "#notification-template",
	props:['type'],
	data() {
		return {
			unread: 0,
			changed: false
		}
	},
	created() {
		this.getUnreadCount()
	},
	ready() {
		var vm = this;
		setInterval( function() {
			vm.changed = false;
			vm.getUnreadCount()
		}, 60000);
	},
	watch: {
		unread: function(unread){
			this.changed = true;
		}
	},

	methods: {
		getUnreadCount()
		{
			this.$http.get('/api/v1/conversations/getUnreadCount').then((response) =>{
					if(this.type == 'user')
					{
						this.unread = response.body.userUnread;
					}
					else if(this.type == 'store')
					{
						this.unread = response.body.storeUnread;
					}


				} ,(response) =>  {

				});
		},
	}

}


</script>

<style type="sass">
	.Notification--badge{
		position: absolute;
		top:0;
		right:0;
		z-index: 999;
		width: 20px;
		height: 20px;
		background: #FF9494;
		border-radius: 100%;
		line-height: 20px;
		font-size: 11px;
		color: white;
		text-align: center;
	}

</style>