<template id="form-template">
	<slot></slot>
</template>

<script>
	export default  {
		template: "#form-template",
		data() {
			return{
				hint: 'Test Hint',
				focused: true
			};
		},
		methods: {
			 getHint(){
				alert('in Focus');
			}
		}
	};


</script>
