<template>
  <map
    :center.sync="center"
    :zoom.sync="10"
    :bounds.sync="mapBounds"
  >
    <marker
      v-for="m in markers"
      :position.sync="m.position"
      :clickable.sync="true"
      @g-click="center=m.position"
    ></marker>
  </map>
</template>

<script>
	var VueGoogleMap = require('vue-google-maps');
	VueGoogleMap.load('AIzaSyBQx5wl-RQtaXUFcFJ9j_TrhOZiKWQrh-k', '3.25');

	export default {
    data () {
      return {
      	mapBounds: {},
        center: { lat: '', lng: ''},
        markers: [{
          position: {lat: 10.0, lng: 10.0}
        }, {
          position: {lat: 11.0, lng: 11.0}
        }],
        stores: []
      }
    },
    components: {
    	Map: VueGoogleMap.Map,
    	Marker: VueGoogleMap.Marker
    },
    methods: {
	    getCurrentPosition: function() {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(function(position) {
		            this.center = {
		                lat: position.coords.latitude,
		                lng: position.coords.longitude
		            };
		            this.fetchStores();
		        }.bind(this), function() {
		            console.log('error on geolocation');
		        }.bind(this));
		    } else {
		        console.log('error on geolocation');
		        this.center = {
		            lat: 39,
		            lng: -89.7
		        };
		    }
	     },
	     fetchStores(){
	     	var options = {
	     		lat: this.center.lat,
	     		lng: this.center.lng,
	     	}
			this.$http.post('api/v1/searchStores', options).then((response) =>{
					this.markers = response.data;
			} ,(response) =>  {

			});

		},
   	},
    ready: function() {
        this.getCurrentPosition();

    }
  }

</script>
<style>
	map{
		width: 100%;
		height: 80vh;
		display: block;
	}
</style>