<template>
	<div class="Search">
		<div class="Search--header">
			<form class="Search--form" @submit.prevent="searchSubmit++">
				<div class="input-icon Search--input">
					<i class="pb-icon search-icon"></i>
					<input placeholder="I am looking for" v-model="terms">
				</div>
				<div class="input-icon Search--input">
					<i class="pb-icon map-marker"></i>
						<input v-model="location" placeholder="{{ myLocation }}">
				</div>
			        <input class="btn Search__submit" type="submit" name="" value="Search">
			</form>
			<div class="Search--views">
				<!-- <a @click.prevent="view='list'">
					<span class="pe-7s-menu pe-fw" ></span>
					<span class="menu-text">List View</span>
				</a>
				<a @click.prevent="view='map'">
					<span class="pe-7s-map pe-fw" ></span>
					<span class="menu-text">Map View</span>
				</a> -->
			</div>
		</div>
	</div>
	<div v-if="view == 'list'">
		<cards v-bind:terms="terms" v-bind:load-More=true  v-bind:lat="center.lat"  v-bind:lng="center.lng" v-bind:location='location' v-bind:search-submit="searchSubmit" v-bind:cat="cat"></cards>
	</div>
	<div v-if="view == 'map'" >
		<searchmap></searchmap>
	</div>
</template>
<script>
	import Cards from './Cards.vue';
	import Searchmap from './SearchMap.vue';

	export default  {

		components: {Cards, Searchmap},

		data() {
			return{
				center: {
					lat: 0,
					lng: 0
				},
				view: 'list',
				myLocation: 'near... (city & state, zipcode)',
				terms: terms,
				location: loc,
				cat: cat,
				searchSubmit: 0

			}
		},
		methods: {
		    getCurrentPosition: function() {
		    	//Geoloation is enabled
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(function(position) {

			            this.myLocation = 'Using your Current Location';

			            this.center.lat = position.coords.latitude,
			            this.center.lng = position.coords.longitude
			            this.searchItems;
			        }.bind(this), function() {
			            // console.log('error on geolocation');
			        }.bind(this));
			    } else {

			    }
		     },
		     searchItems: function(){
	   			//Get all the variable for Search results

	   		},
	   	},

	    ready: function() {
	        this.getCurrentPosition();
	    }

	}


</script>