<template id="single-image-upload-template">
<div>
	<div class="Profile--Images">
		<p class="Images__error" v-if="error != ''">{{ error }}</p>
		<div class="Profile--Images--wrapper" :id="place + '-wrapper'" :style="{maxWidth: width + 'px'}">
			<div v-if="!image" class="Profile--Images--preview ">
				<img :id=this.place+"--upload" :src="fakerImage" />
			</div>
			<div v-else="image" class="Profile--Images--preview">
			<img :id=this.place+"--upload" :src="image" />
			</div>
			<!-- <div v-if="!image">
				<form id="uploadImageForm" >
					<input @change="setupFileUploader" type="file" class="Images__upload" name="image" >
				</form>
			</div> -->
		</div>
	</div>
	<button class="cropButton btn" v-if="croppie" @click="uploadImage">{{{cropButton.text}}}</button>
	<button class="Profile--Image--upload btn-purple" @click="browseFile">
		{{{uploadButton.text}}}
	</button>
	<form id="uploadImageForm" >
	<input @change="setupFileUploader" type="file" class="Profile--Image__upload" :id="place+'__uploader'" name="image" accept="image/*">
	
	</form>
</div>
</template>

<script>
	import Croppie from 'croppie'
	export default {
	template: "#single-image-upload-template",
	props: ['dbimage','shape','width','height','place'],
	data(){
		return{
			fileUploadFormData: new FormData(),
			image: null,
			fakerImage: '/assets/images/no-'+this.place+'.jpg',
	        readytoCrop: false,
            error: '',
            croppie: null,
            savingImage: false,
            uploadButton: {
            	 text: '<i class="pb-icon camera ico-small"></i> Change Image',
            	 defaultText: '<i class="pb-icon camera ico-small"></i> Change Image',
            	 loadingText: '<i class="pb-icon refresh pe-spin ico-small"></i> Loading...',
            },
            cropButton: {
            	 text: 'Crop Image',
            	 defaultText: 'Crop Image',
            	 loadingText: '<i class="pb-icon refresh pe-spin ico-small"></i> Loading...',
            },
            el: '',
            
		}
	},
	ready() {
		this.$on('imageUploaded', function(imageData) {
			this.image = imageData;
			if(this.croppie){
				this.croppie.destroy();	
			}
			var vm = this;
			setTimeout(function() {vm.loadCroppie();}, 1000);
		})
		if(this.dbimage)
		{
			this.image = this.dbimage;
		}
		
		
	},
	watch: {
		error: function(newError)
		{
			var vm = this;
			setTimeout(function() { vm.error = '' }, 5000);
		},
	},
	methods: {
		browseFile(e){
			console.log('browseFile');
			e.preventDefault();
			$('#'+this.place+'__uploader').click();
		},
		setupFileUploader(e){
			console.log('setupFileUploader');
			this.$root.imageSaved = false;
			this.uploadButton.text = this.uploadButton.loadingText;
			let files = e.target.files || e.dataTransfer.files
			if(!files.length){
				return
			}

			this.createImage(files[0])
		},
		createImage(file){
			console.log('createImage');
			var image = new Image()
			var reader = new FileReader
			var vm = this

			reader.onload = (e) => {
				vm.image = e.target.result
				vm.$emit('imageUploaded', e.target.result)
			}
			reader.readAsDataURL(file)

		},
		loadCroppie(){
			console.log('loadCroppie');
			this.el = document.getElementById(this.place+'--upload');
			var parentW = $('#'+this.place+'-wrapper').width();
			var w = parentW < this.width ? parentW : this.width;
			var h = parentW < this.width ? Math.round(parentW * this.height / this.width) : this.height;


			this.croppie = new Croppie(this.el, {
				viewport: {
			        width: w,
			        height: h,
			        type: this.shape
			    },
			    boundary: {
			    	width: w,
			    	height: h
			    },
			    showZoomer: true,
			    enableOrientation: true,
			});
			this.croppie.bind({
				url: this.image
			})

			this.uploadButton.text = '<i class="pb-icon camera ico-small"></i> Choose a different image...';
		},
		uploadImage(e){
			e.preventDefault();
			this.cropButton.text = this.cropButton.loadingText;
			var vm = this;
			this.croppie.result({
				type: 'canvas',
				size: {width: this.width, height: this.height},
			}).then(response => {
				this.$http.post('/api/v1/image/upload/'+this.place, {img: response}).then((response) => {
						vm.croppie.destroy();
						vm.croppie = null;
						vm.image = response.data.imageURL;
						vm.cropButton.text = vm.cropButton.defaultText;
						vm.uploadButton.text = vm.uploadButton.defaultText;
						vm.$root.imageSaved = true;
				}, (response) => {

				},);
			})
		},
		reloadImage(newImage){
			
		},
		removeImage(i) {
			console.log(i);
			var r = confirm('Are you sure you want to delete this image?');
			if(r){
				var img = 'img'+i.num;
				//Are we editing an item? If so the image need deleted from DB if not remove from this.images
				if(i.id)
				{
					this.$http.get('/api/v1/image/remove/' + i.id).then((response) => {
						this.images[img]['src'] = '';
						this.images[img]['id'] = '';
						this.images[img]['loading'] = false;
					}, (response) => {
						console.log('There was a problem getting Images')
					});
				}
				else{

					this.images[img]['src'] = '';
					this.$root['images'][img]['src'] = '';
					this.$root.form['formImage'+num] = '';
					this.images[img]['loading'] = false;
				}
			}
		},
		checkForUnsaved(e)
		{
			var confirmationMessage = "Please click 'Crop Image' button before updating";

		  	e.returnValue = confirmationMessage;     // Gecko, Trident, Chrome 34+
		  	return confirmationMessage;              // Gecko, WebKit, Chrome <34
		}


	}

};
</script>