<template id="slider-template">
	<div class="Slider">
	<div class="Slider--mainImage">
			<img class="animated" transition="fade" width="100%" :src="mainImage.file" :alt="mainImage.caption" :title="mainImage.title" >
		</div>
		<div class="Slider--thumbnails">
			<div v-for="image in images">
				<img width="150" :src="image.file" :alt="image.caption" :title="image.title" @click="mainImage = image" />
			</div>
		</div>

	</div>
</template>

<script>
export default {
	template: "#card-template",
	data() {
		return {
			images: sliderImages,
			mainImage: sliderImages[0],
		}
	},
	created() {
		this.loadSlider();
	},

	methods: {
		loadSlider: function() {

		},
	}

}


</script>