.Alert{
	background: $pb-purple;
	padding: 2em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	color: $pb-white;

	i{
		font-size: 2rem;
	}
}
.Alert--Error{
	background: $alert-red;
}
.Alert--Success{
	background: $pb-gray;
}
.Alert__close {
	position: absolute;
	top: 2em;
	right: 2em;
	cursor: pointer;
}
.fade-transition {
	transition: opacity 325ms ease;
}
.fade-leave{
	opacity: 0;
}