/* Columns for the Search and timeline pages */

#Cards__loadMore{
	height: 4em;
	line-height: 4em;
	background-color: $pb-tan;
	font-size: 2.28rem;
	text-align: center;
}

.Cards{
	@include clearfix;
}


 *, *:before, *:after{
    box-sizing: border-box;
}
	.Card{
		position: relative;
		display: block;
		background-color: #fefefe;
		overflow: hidden;
  		z-index:1;
		border: 2px rgba(0,0,0,0.12) solid;
		border-radius: 50px 1px 50px 1px;
		@include box-shadow-black;
		box-sizing: border-box;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		cursor: pointer;
		margin: 1em 1.666666%;
		float: left;
		width: 46%;
		@include tablet{
			width: 30%;
			border-radius: 100px 1px 100px 1px;
		}
		@include desktop{
			width: 23.5%;
			margin: 1em 0.666666%;
		}

		@include largeDesktop{
			width: 18.5%;
			margin: 1em 0.666666%;
		}
		&--status{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 9999;
			padding: .5rem;

			&.active{
				background-color: green;
				color: $pb-white
			}
			&.in-active{
				background-color: #FCFF7E;
				color: $pb-gray;
			}
		}


		@include noSelect;

		&.inSidebar{
			width: 100%;
			max-width: 400px;
			float: none;
			margin: 0 auto;
		}
		.Avatar{
			border-radius: 50%;
			width: 50px;

		}
	}

	.Card--image{
		position: relative;
		z-index: 10;
		width: 100%;
		background-color: $pb-tan;
		&:before{
			content: "";
			display: block;
			padding-top: 100%;
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		img{
			width: 100%;
			max-height: 400px;
			
		}

	}
	.Card--title{

		// font-weight: bold;
		color: $pb-white;
		height: 40px;
		display: block;
		@include mobile{
			height: 64px;
		}

	}
	.Card--location{
		margin-top: 5px;
		display: block;
		font-style: italic;
		color: $pb-white;
		// position: absolute;
		// bottom: 3%;
		width: 80%;
		display: flex;
		i{
			font-size: .8em;
			text-decoration: none;
		}
		span{
			// padding-left: .8em;
			// display: inline-block;
		}
	}
	.Card--price{
		position: absolute;
		right: 5px;
		top: 5px;
		color: $pb-gray;
		font-weight: bold;
	}
	.Card--content{
		padding: 1em;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}
	.Card--action{
		height: 125px;
		@include mobile{
			height: 150px;
		}
		padding: .5em;
		position:relative;
		z-index: 150;
		background-color: $pb-purple;
		color: #392a27;
		font-size: 14px;
		line-height: 1.2rem;
		padding-top: 2em;
		.Card--profile-img{
			position: absolute;
			top: -30px;
			width: 50px;
			border-radius: 50%;
			margin-right: 1rem;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		}
	}
	.Card__over{
    	color: $pb-white;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba($pb-purple, .75);
		box-sizing: border-box;
		left: 0;
		top: 0;
		padding: 3em;
		transform: translateY(100%);
		-webkit-transition: all 300s ease;
		-moz-transition: all 300ms ease;
		-o-transition: all 300ms  ease;
		transition: all 300ms  ease;
    	transform-origin: 50% 75%;
    	pointer-events: none;
    	@include mobile{
    		transform: translateY(0);
    		background-color: transparent;
    	}
    	span{
    		width: 100%;
    		display: block;
    		text-align: center;
    		margin-bottom: 1rem;
    		cursor: pointer;
    		pointer-events: auto;
    		&:hover{
    			color: darken($pb-white, 10%);
    		}
    		@include mobile{
    			width: auto;
    			padding: .5rem;
    			background-color: rgba($pb-purple, .75);
    			@include box-shadow-black;
    			position: absolute;
    			top: 2%;
    			left: 9%;
    			border-radius: 100%;
    			&:nth-child(2){
    				display: none;
    			}
    		}
  			.pocket-ico{
  				left: 5px;
  				position: relative;
  				@include mobile{
  					left: 0;
  				}
  			}
    		em{
    			display: none;
    			@include desktop{
    				display: block;
    			}
    		}
    		i{
    			font-size: 2rem;
    			display: block;
    		}
    	}

	}
	.Card:hover{
		.Card__over{
			transform: translateY(0);
			-webkit-transition: all 200ms  ease;
			-moz-transition: all 200ms  ease;
			-o-transition: all 200ms  ease;
			transition: all 200ms  ease;
		}
	}

	.storeCard{
		width: 90%;
		@include tablet{
			float: left;
			width: 46%;
			margin: 1em 2%;
		}
		@include desktop{
			float: left;
			width: 30%;
			margin: 1em 0.666666%;
		}

		@include largeDesktop{
			float: left;
			width: 23.5%;
			margin: 1em 0.666666%;
		}
	}

	.pocketCard{
		width: 90%;
		@include tablet{
			float: left;
			width: 46%;
			margin: 1em 2%;
		}
		@include desktop{
			float: left;
			width: 30%;
			margin: 1em 0.666666%;
		}

		@include largeDesktop{
			float: left;
			width: 23.5%;
			margin: 1em 0.666666%;
		}
	}
