.submitIssueBtn{
	border-radius: 50%;
	background: $yellow;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 75px;
	right: 2%;
	text-align: center;
	font-size: 11px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
 	cursor: pointer;
 	padding-top: .5rem;
 	z-index: 9999;
	&:hover{
		background: darken($yellow, 10%)
	}
	i{
		font-size: 20px;
	}
	@include mobile{

	}
}
.issueModal{
	p{
		margin-bottom: 1rem;
	}
}