/* Styles for a single item and info */

/* Single Item Slider */
.item-slider{
	margin-top: 30px;
	@include span(12);

	@include tablet{
		@include span(7);
		margin-top: 0;
	}

	@include desktop{
		@include span(8);
		margin-top: 0;
	}

	img{
		max-width: 100%;
	}
}

/* Single Item Header */
.item-icons{
	text-align: right;
	span{
		height: 30px;
		width: 30px;
		margin: 0 .5rem;
	}
}
.icon-meanings{
	width: 300px;
	background: $pb-tan;
	padding: 1rem;
	@include box-shadow-black;
	position: absolute;
	right: 0;
	top: 90%;
	z-index: 99;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	span{
		width: 30px;
		height: 30px;
	}
	button{
		float: right;
		padding: .5rem;
	}
}
.right{
	float: right;
	margin-top: 30px;
	width: 20%;
	@include mobile{
		width: 100%;
		margin-top: 1rem;
	}
}

.left{
	float: left;
	width: 80%;
	h3{
		float: left;
	}
	span{
		display: inline-block;
	}
}

.single-item-head{
	position: relative;
	@include tablet{
		margin-bottom: 0;
	}

	@include desktop{
		margin-bottom: 0;
	}
	span{
		font-size: 30px;
	}
	.pocket-ico{
		fill: $pb-gray;
	}

}
.go-back{
		width: 93%;
		margin: 0 auto;
		padding: 1rem;
		@include mobile{
			width: 100%;
			a{
				width: 100%;
				text-align: center;
				display: block;
			}
		}
	}
.Item--page{
	// display: flex;
	// flex-flow: row wrap;
}
/* Single Item Seller Box */

.seller-box{
	position: relative;
	background-color:  $pb-gold;
	padding-bottom: 5px;
	margin-top: 15px;
	@include span(12);
	@include tablet{
		@include span(5);
		margin-top: 0;
		padding-bottom: 30px;
	}
	@include desktop{
		@include span(4);
		margin-top: 0;
		padding-bottom: 30px;
	}

	.price{
		width: 50%;
		float: left;
	}

	.send-message{
		margin-top: 20px;
		text-align: center;
		@include span(6);
		float: right;
	}

	/* Top section of the seller box (Price and Message button) */
	.top-seller-box{
		@include span(12);
		margin-bottom: 20px;
		@include clearfix;
		@include tablet{
			@include span(12);
			float: none;
		}
		@include desktop{
			@include span(12);
			float: none;
		}

	}

/* Bottom Half of the desktop seller box */

	.bottom-seller-box{
		@include clearfix;
		margin-top: 5%;
		margin-bottom: 10px;
		@include span(12);
		@include tablet{

			@include span(12);
			float: none;
			margin-top: 0;
		}
		@include desktop{

			@include span(12);
			float: none;
			margin-top: 0;
		}
	}
	.addToPocket{
		float: left;
		margin-top: 1rem;
		//display: block;
		cursor: pointer;
		color: $pb-gray;
		line-height: 3.5rem;
		width: auto;
		.mypocket-ico{
			float: left;
			width: 3.5rem;
		}
		&:hover{
			color: $pb-purple;
		}
		@include mobile{
			float: none;
		}

	}
	.social-icons
		{
			margin-top: 1rem;
			padding: 1rem;
			float: left;
			@include mobile{
				float: none;
			}
		}

/* Store information section */

	.store-profile-pic{
	@include span(3);
	img{
		max-width: 100%;
	}
	@include tablet{
		@include span(3);
	}
	@include desktop{
		@include span(3);
	}
}

	.store-contact-info{
		a{
			color: $pb-gray;
		}
		@include span(9);
		.phone{
			margin-top: 1rem;
			@include clearfix;
			display: none;
			@include tablet{
				display: block;
			}
			@include desktop{
				display: block;
			}
		}
		.website{
			margin-top: 1rem;
		}

		h5{
			margin-top: 0;
		}
		img{
			max-width: 100%;
		}
		@include tablet{
			@include span(9);
			margin-top: 1rem;
		}
		@include desktop{
			@include span(9);
			margin-top: 1rem;
		}

	}
}

.item-details{
	@include span(12);
	border: none;
	line-height: 1.5rem;
	@include tablet{
			@include span(7);
		}
		@include desktop{
			@include span(8);
		}

	i{
		font-size: 32px;
		float: right;
		margin-top: 25px;
	}

	h4{
		float: none;
		margin-bottom: 5px;
	}
}

	/* Style the buttons that are used to open and close the accordion panel */
	button.accordion {
	    background-color: #fff;
	    color: $pb-gray;
	    cursor: pointer;
	    padding: 5px 18px 0;
	    width: 100%;
	    text-align: left;
	    border: none ;
	    outline: none;
	    transition: 0.4s ;
	    box-shadow: none;
	    border-bottom: solid 1px $pb-purple;
	}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	button.accordion.active, button.accordion:hover {
	    background-color: #fff;
	}

/* Style the accordion panel. Note: hidden by default */
	div.panel {
	    padding: 0 18px;
	    background-color: white;
/*	    display: none;*/
	    transition: all 325ms ease;
	    opacity: 0;
	    max-height: 0;
	    overflow: hidden;

	}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
	div.panel.show {
	    /*display: block;*/
	    opacity: 1;
	    max-height: 100%;
	    padding: 20px 18px;
	}



/* Get to know the sellers box */

.get-to-know{
	background-color: $pb-gray;
	@include span(12);
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	@include tablet{
		margin-top: 25px;
	}

	@include desktop{
		margin-top: 25px;
	}

	@include mobile{
		margin-top: 20px !important;
	}

	.gtk-text{
		color: #fff;
		text-align: center;
		@include span(12);

		@include tablet{
			text-align: left;
			@include span(6);
		}

		@include desktop{
			text-align: left;
			@include span(6);
		}

		.btn{
			margin-top: 25px;
		}
	}

	.seller-info{
		text-align: center;
		color: #fff;
		@include span(12);

		@include tablet{
			@include span(6);
		}

		@include desktop{
			@include span(6);
		}
		i{
			float: none;
			font-size: 55px;
			display: block;
			text-align: center;
		}

		.sellers{
			@include clearfix;
			.seller{
				float: left;
				width: 150px;
				.avatar-filler{
					font-size: 5.75rem;
					margin-top: 0;
					margin-bottom: .5rem;
					text-align: center;
				}
				img{
					border-radius: 50%;
					margin-bottom: .5rem;
					width: 75px;
					height: 75px;

				}
			}
		}

	}
}
.similar-items{
	@include span(12)

	@include tablet{
		@include span(7);
	}

	@include desktop{
		@include span(8);
	}
}

