/***************************** Styles for listings throughout the site *****************************/


/***************************** Home Listings *****************************/

.home-listings{
	margin-top: 25px;
	.listing {
		@include span(12);
		img{
			border-radius: 50px 0;
			max-width: 100%;
		}
		@include tablet{
			@include span(6);
		}
		@include desktop{
			@include span(4);
		}
	}
}

/***************************** Single Item Page *****************************/

.other-seller-items{
	@include span(12);

	@include tablet{
		@include span(5);
		float: right;
	}
	@include desktop{
		@include span(4);
		float: right;
	}
}

// .similar-items{
// width
// }


