/* Login form */
.Login{
	@include container;
	display: block;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 150px);
	position: relative;
	@include desktop{
		@include flexbox();
	}
	@include tablet{
		@include flexbox();
	}
	//Logo
	.logo-wrapper{
		display: none;
		@include tablet{
			margin-left: 1vh;
			width: 100%;
			position: absolute;
			top: 10%;
			display: block;
			.logo{
				//Icon Logo
				height: 75px;
				display: block;
				width: 480px;
				margin: auto;
				img{
					height: 75px;
					float: left;
				}

				//Text Logo
				span{
					display: none;
					@include desktop{
						display: inline;
						float: left;
						height: 75px;
						line-height: 45px;
						white-space: nowrap;
						font-size: 5rem;
						color: $pb-gray;
						font-family: $brand-font;
						font-weight: 100;
					}
				}
			}

		}
		@include desktop{
			margin-left: 1vh;
			width: 100%;
			position: absolute;
			top: 10%;
			display: block;
			.logo{
				//Icon Logo
				height: 75px;
				display: block;
				width: 480px;
				margin: auto;
				img{
					height: 75px;
					float: left;
				}

				//Text Logo
				span{
					display: none;
					@include desktop{
						display: inline;
						float: left;
						height: 75px;
						line-height: 45px;
						white-space: nowrap;
						font-size: 5rem;
						color: $pb-gray;
						font-family: $brand-font;
						font-weight: 100;
					}
				}
			}

		}
	}
	&--form{
		@include span(12);

		.input-full{
			width: 100%;
			margin-top: 2rem;

		}
		input{
			background: $white;
		}
		@include desktop{
			@include span(8);
		}
		@include tablet{
			@include span(6);
		}
		.btn{
			margin: 2rem 0;
		}
		.btn-link{
			float: right;
		}
		.remember_me{
			input[type=checkbox]{
				margin: 2rem 0;
			}
		}

	}
	&--social{
		@include span(12);

		@include desktop{
			@include span(4);
		}
		@include tablet{
			@include span(6);
		}
		float: none;
		&.white{
			color: $pb-white;
		}

		.btn{
			display: block;
			width: 80%;
			margin: 1rem auto;
		}
		.facebook-login{
			@include button-bg($facebook-color);
			font-size: 1.2rem;
		}
		.twitter-login{
			@include button-bg($twitter-color);
			font-size: 1.2rem;
		}
		.google-login{
			@include button-bg($google-color);
			font-size: 1.2rem;
		}
	}

	.goToSignup{
		text-align: center;
		width: 100%;
		color: $pb-gray;
		position: relative;
		bottom: 2%;
		font-size: 1.5rem;
		margin-top: 20px;
		padding-bottom: 80px;
		a{
			display: block;
			color: $pb-gray;
			text-decoration: none;
			&:hover{
				color: $pb-purple;
			}
		}
		i{
			font-size: 5rem;
			@include animation-iteration-count(infinite);
			@include animation-duration(2s);
		}
		@include tablet{
			position: absolute;
			padding-bottom: 0;
		}
		@include desktop{
			position: absolute;
			padding-bottom: 0;
		}
	}
	@include tablet{
		margin-top: 0;
	}
	@include desktop{
		margin-top: 0;
	}
}



.Signup{
	width: 100%;
	height: calc(100vh - 150px);
	background: $pb-gray;
	position: relative;
	@include flexbox;
	justify-content: center;
	align-items: center;
	@include clearfix;
	flex-wrap: wrap;
	@include mobile{
		height: auto;
		min-height: 100vh;
	}
	&--form{
		max-width: 1024px;
		margin: auto;
		.input-full{
			width: 100%;
			margin-top: 2rem;
		}
		padding: 1rem;
		color: $pb-white;


		input{
			background: $pb-gray;
			color: $pb-white;
		}
		.btn{
			margin: 2rem 0;
		}
		@include mobile{
			@include span(12);
		}
	}
	.goToLogin{
		text-align: center;
		width: 100%;
		color: $pb-purple;
		position: absolute;
		bottom: 2%;
		font-size: 1.5rem;
		@include mobile{
			position: relative;
			padding-bottom: 100px;
		}
		a{
			display: block;
			color: $pb-purple;
			text-decoration: none;
		}
		i{
			font-size: 5rem;
			@include animation-iteration-count(infinite);
			@include animation-duration(2s);
		}
		@include mobile{

		}
	}
}
.Reset{
	width: 100%;
	height: 100vh;
	background: $pb-gray;
	position: relative;
	@include flexbox;
	justify-content: center;
	align-items: baseline;
	@include clearfix;
	&--form{
		max-width: 1024px;
		margin: auto;
		.input-full{
			width: 100%;
			margin-top: 2rem;
		}
		padding: 1rem;
		color: $pb-white;


		input{
			background: $pb-gray;
			color: $pb-white;
		}
		.btn{
			margin: 2rem 0;
		}
	}

}

