

.Conversations{
	position: relative;

	&__loading{
	}
	&--tabs{
		@include clearfix;
		li{
			@include span(6);
			padding: 1rem;
			cursor: pointer;

			position: relative;
			span{
				top: .5rem;
				right: .5rem;
			}
			&.active{
				background: $pb-gold;
				border: 1px darken($pb-gold, 10%) solid;
				border-bottom: none;
				&:hover{
					background: $pb-gold;
				}
			}
			&:hover{
				background: lighten($pb-gold, 5%);
			}

		}
	}
	&--wrapper{
		border-top: 1px dotted $pb-tan;
		background: $pb-gold;
		padding: 1rem;
	}

	//Single Converstion in the Converstaions View
	.Convo{

		// &:nth-child(even){
		// 	background: $pb-tan;
		// }
		&--preview{
			min-width: 200px;
			max-width: 200px;
			cursor: pointer;
			.store-profile-pic{
				@include span(2)
				line-height: 17.5px;
				img{
					max-width: 50px;
				}
				i{
					font-size: 2.3333rem;

					@include desktop{
						font-size: 4rem;
					}
				}
			}
			.message-text{
				@include span(10);
				.sender{
					font-weight: 100;
					font-style: italic;
					color: $pb-purple;
				}
				.content
				{
					height: 75px
				}
			}
		}
		&--wrapper{
			border-top: 1px solid $pb-purple;
			border-bottom: 1px solid $pb-purple;
			padding: 1rem;
			@include clearfix;
			@include container;
			height: 100px;
			display: flex;
			align-items: center;

		}
		&__read{
			background: $pb-purple;
			color: $pb-white;
			border-color: $pb-white;
			.message-text .sender{
				color: $pb-white;
			}
			&:hover{
				background: darken($pb-purple, 5%);
			}
		}
		&__unread{
			background: $pb-white;
			&:hover{
				background: darken($pb-white, 5%);
			}

			.Convo--actions{

				span{
					&:hover{
			 			color: darken($pb-white, 50%);
			 		}
				}
			}
		}
		&--actions{
			min-width: 50px;
			max-width: 50px;
			span{
				text-align: center;
				i{
					width: 1.5rem;
					height: 1.5rem;
					display: block;
				}
				font-size: .8rem;
				display: block;
			 	margin-top: .5rem;
			 	cursor: pointer;
			 	&:hover{
			 		color: darken($pb-white, 10%);
			 	}
			}
		}
	}
}

.Messages{
	.store-profile-pic{

		img{
			max-width: 50px;
			float: left;
		}
		i{
			font-size: 4rem;
			float: left;
		}
	}
	&__new-message{
		width: 100%;
		height: 200px;
	}
	.Message{
		clear: both;
		border-top: 1px solid $pb-purple;
		border-bottom: 1px solid $pb-purple;
		padding: 1rem;
		&--wrapper{
			@include clearfix;

			.avatar-filler{
				font-size: 4rem;
				float: left;
			}
		}
		&--content{
			margin: 1rem 0;
			line-height: 1.5em;
			border-top: 1px dotted $pb-tan;
			padding-top: 1rem;
		}
		&--sender{
			height: 60px;
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			overflow: hidden;
			img{
				// float: left;
			}
			.sender-name{
				display: inline-block;
				//line-height: 60px;
				//height: 60px;
				max-width: 180px;
				padding-left: 1rem;
				font-weight: 700;
				@include desktop{
					max-width: 300px;
				}
				i{
					display: block;
					font-style: italic;
					font-weight: 400;
				}
			}
			.sent-date{
				position: absolute;

				right: .5rem;
			}

		}

		&__actions{
			float: right;
		}
		&--archived{
			background: $pb-gold;
			padding: 3rem;
			text-align: center;
			font-style: italic;
		}
	}
}