/***************************** Mobile Listings Styles *****************************/

.MobileListing{
	@include span(12);
	border-bottom: solid 1px $pb-gray;
	padding-bottom: 15px;
	&--Image{
		@include span(6);
	}

	&--info{
		@include span(6);
	}

	&--price{
		font-weight: 300;
	}

	&--Profile-Pic{
		float: left;
		max-width: 50px;
		img{
			max-width: 50px;
		}
	}

	&--Contact-Info{
		h6{
			padding-top: 55px;
		}
	}

	&--More-Info{
		display: block;
		width: 100% !important;
		float: left;
		i{
			font-size: 40px;
			float: right;
		}

	}
}
