.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  height: 100vh;
  @include desktop{
    width: 50vw;
    height: auto;
  }
  margin: 0px auto;
  padding: 20px 30px;
  background-color: $pb-white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: $base-font;
}

.modal-header h3 {
  margin-top: 0;
  color: $pb-gray;
}

.modal-body {
  margin: 20px 0;

  input{
    margin: 1rem 0;
    width: 100%;
  }
}
.modal-footer{
  @include clearfix;
  .btn {
    float: right;
    margin: .5rem;
  }
}



/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-flex{
  @include flexbox();
  align-items: center;
  justify-content: center;

  .btn{
    margin: 1rem;
  }
}