.Search{
	background-color: $pb-gold;
	width: 100%;
	@include box-shadow-black;

	&--header{
		@include container;

		.Search--form{
			@include span(12);
			@include tablet{
				@include span(8);
			}
			@include desktop{
				@include span(8);
			}
			@include desktop{}
			.Search--Input{
				@include span(12);
				@include tablet{
					@include span(5);
				}
				@include desktop{
					@include span(5);
				}
				padding: 0;
				input{
					width: 100%;
					box-shadow: none;
					height: 48px;
				}
			}
			.Search__location input{
				background-color: $pb-tan;
			}

			.Search__submit{
				@include span(6);
				float: right;
				@include tablet{
					@include span(2);
					float: none;
				}
				@include desktop{
					@include span(2);
					float: none;
				}
			}

		}
	}
	&--views{
		@include span(4)
		a{
			cursor: pointer;
			float: right;
			color: $pb-gray;
			padding: 0 1em;

			span{
				&.pe-fw{
					font-size: 2rem;
				}
				&.menu-text{
					font-size: 0.8rem;
				}
				display: block;
				text-align: center;
			}
		}
	}
}