/* SCSS for the various search areas around the site */

.home-search{
	position: absolute;
	bottom: -16px;
	left: 0;
	font-size: 22px;
	@include desktop{
		top: 10%;
		left: 5vw;
		font-size: 14px;
	}
	@include tablet{
		top: 20%;
		left: 5vw;
		font-size: 14px;
	}
	h2{

		margin-left: 0;
		@include white-text-shadow;
		color: $pb-tan;
		font-size: 2.25rem;

		@include desktop{
			position: static;
			margin-left: 0;
			margin-top: 0;
			font-size: 3.56rem;
		}
		@include tablet{
			position: static;
			margin-left: 0;
			font-size: 3.56rem;
		}
	}

	.btn{
		margin-top: 10px;
	}

	.home-location{
		margin-top: 10px;
		display: none;
		@include desktop{
			width: 300px;
			display: inline-block;
		}
		@include tablet{
			width: 300px;
			display: inline-block;
		}
	}

	.home-search-input{
		width: 300px;
		@include desktop{
			width: 300px;
		}
		@include tablet{
			width: 300px;
		}
	}

	.btn{
		margin-top: 10px;
		float: right;
		visibility: hidden;
		position: absolute;
		@include desktop{
			margin-left: 195px;
			display: block;
			float: none;
			visibility: visible;
			display: static;
		}
		@include tablet{
			margin-left: 195px;
			display: block;
			float: none;
			visibility: visible;
			display: static;
		}
	}
}

.home-search-inline{
	//position: absolute;
	background: $pb-tan;
	padding: 1rem;
	font-size: 1rem;

	// @include desktop{
	// 	top: 10%;
	// 	left: 5vw;
	// 	font-size: 14px;
	// }
	// @include tablet{
	// 	top: 20%;
	// 	left: 5vw;
	// 	font-size: 14px;
	// }

	form{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: $pb-gray;
		
	}

	.home-location{
		input{
			background-color: transparent;
		}
		i{
			font-size: 2rem;
			 margin-top: -10px;
		}
		border-bottom: 1px $pb-gray solid;
		margin-left: 2rem;
		margin-right: 2rem;
		display: none;
		@include desktop{
			width: 33vw;
			display: inline-block;
		}
		@include tablet{
			width: 33vw;
			display: inline-block;
		}
	}

	.home-search-input{
		input{
			background-color: transparent;
		}
		i{
			font-size: 2rem;
			 margin-top: -10px;
		}
		border-bottom: 1px $pb-gray solid;
		width: 55vw;
		@include desktop{
			width: 33vw;
		}
		@include tablet{
			width: 33vw;
		}
	}

	.btn{
		//margin-top: 10px;
		//float: right;
		//visibility: hidden;
		//position: absolute;
		// @include desktop{
		// 	margin-left: 195px;
		// 	display: block;
		// 	float: none;
		// 	visibility: visible;
		// 	display: static;
		// }
		// @include tablet{
		// 	margin-left: 195px;
		// 	display: block;
		// 	float: none;
		// 	visibility: visible;
		// 	display: static;
		// }
	}
}

