.Slider{
	margin-top: 30px;
	@include span(12);
	@include clearfix;
	min-height: 200px;

	@include tablet{
		@include span(7);
		margin-top: 0;

	}

	@include desktop{
		@include span(8);
		margin-top: 0;

	}

	&--mainImage{
		img{
			max-width: 100%;
			transition: all .5s ease;
		}
	}

	&--thumbnails{
		padding: .5em;
		@include clearfix;
		img{
			float: left;
			margin: 0 .5em;
			cursor: pointer;
		}
	}
}