/* Styles for Store Page sections that don't already have styling*/

.Jumbotron{
	img{
		width: 100%;
		max-height: 800px;
	}
	&--Cover-Fill{
		height: 400%;
		max-height: 400px;
		width: 100%;
		background-color: $pb-purple;
		@include flexbox();
		justify-content: center;
		align-items: center;
		h1{
			color: $pb-white;
			text-align: center;
		}
	}
}


.Store{
	&__view-store{
		float: right;
	}
	/*Beige Box with store contact info in it*/
	@include clearfix;
	&--Info-Box{
		background-color: $pb-tan;
		width: 100%;
		height: 260px;
		padding-bottom: 20px;
		@include clearfix;

		@include tablet{
			top: -100px;
			position: relative;
			z-index: 1000;
			height: 200px;
		}

		@include desktop{
			top: -100px;
			position: relative;
			z-index: 1000;
			height: 200px;
		}

	}
	&--Profile{
		@include span(6);
		background-color: $pb-tan;
		padding-top: 33px;
		padding-left: 2%;
	}
	&--Profile-Pic{
		float: none;
		margin-right: 15px;
		display: block;
		img{
			max-width: 75px;
		}
		@include tablet{
			float: left;
			img{
				max-width: 150px;
			}
		}
		@include desktop{
			float: left;
			img{
				max-width: 150px;
			}
		}
	}


	&--Contact-Info{
		margin-top: 10px;
		@include tablet{
			margin-top: 30px;
		}
		@include desktop{
			margin-top: 30px;
		}

		.addToPocketStore{
			margin-top: 1rem;
			cursor: pointer;
			width: 100%;
			padding-bottom: 0;
			img{
				float: left;
			}
			line-height: 2rem;
			color: $white;

			&:hover{
				color: darken($white, 30%);
			}
		}

	}

	&--Contact{
		@include span(6);
		padding-right: 2%;
		background-color: $pb-tan;
		padding-top: 40px;

		input{
			margin-top: 5px;
			margin-bottom: 15px;
			@include tablet{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			@include desktop{
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}

		i{
			font-size: 22px;
			margin-top: -5px;
			display: none;
			@include tablet{
			display: inline;
			}
			@include desktop{
				display: inline;
			}

		}
		p{
			font-size: 18px;
			display: none;
			@include tablet{
			display: inline;
			}
			@include desktop{
				display: inline;
			}
		}
		.btn{
			margin-bottom: 20px !important;
		}
		.social-icons{
			clear: both;
			margin-top: 2rem;
			float: right;
			a{
				margin-bottom: 1rem;
			}
		}
	}

	&--Phone-Button{
		display: block;
		@include tablet{
			display: none;
		}
		@include desktop{
			display: none;
		}
	}

	&--Story{
		line-height: 1.5rem;
		@include span(12);
		@include tablet{
			@include span(8);
			margin-top: -100px;
		}
		@include desktop{
			@include span(8);
			margin-top: -100px;
		}
		i{
			font-size: 32px;
			float: right;
			margin-top: 25px;
		}
		h4{
			float: left;
			margin-bottom: -0;
		}

	}

	&--Gtk{
		background-color: $pb-gray;
		color: $white;
		padding-top: 20px;
		padding-bottom: 25px;
		margin-top: 15px;
		@include span(12);
		@include tablet{
			@include span(4);
			margin-top: -70px;
		}
		@include desktop{
			@include span(4);
			margin-top: -70px;
		}
		h6{
			text-align: center;
		}
	}

	&--Seller{
		float: left;
		text-align: center;
		padding-top: 20px;
			margin-right:  2.5%;
			margin-left:  2.5%;
			width: 45%;
		i{
			float: none;
			font-size: 55px;
			display: block;
			text-align: center;
		}
	}
}

.our-items{
	text-align: center;
	padding-top: 15px;
	margin-bottom: 0;
	float: none !important;
	@include span(12);
	@include tablet{
		text-align: left;
		margin-left: 3%;
	}
	@include desktop{
		text-align: left;
		margin-left: 3%;
	}
}