/* Sass for Videos on the site */
.video-wrapper{
	width: 100%;
	position: relative;

	.video{
		width: 100%;
		height: auto;
		max-height: 50vh;
		position: relative;
		overflow: hidden;
		/* This used to work for parent element of button divs */

		/* But it is not enough now, below dont hide play button parent div */

		*::-webkit-media-controls-panel {
		  display: none!important;
		  -webkit-appearance: none;
		}

		/* Old shadow dom for play button */

		*::--webkit-media-controls-play-button {
		  display: none!important;
		  -webkit-appearance: none;
		}

		/* New shadow dom for play button */

		/* This one works */

		*::-webkit-media-controls-start-playback-button {
		  display: none!important;
		  -webkit-appearance: none;
		}
		video{
			width: 100% !important;
			height: auto !important;
			margin-bottom: 20px;
			position: relative;

			@include desktop{
				margin-top: -15%;
			}
			&::-internal-media-controls-download-button{
				display:none;
			}
			&::-webkit-media-controls-enclosure {
			    overflow:hidden;
			}

			&::-webkit-media-controls-panel {
			    width: calc(100% + 30px); /* Adjust as needed */
			}

		}
		.mutebutton{
			position: absolute;
			top: 10%;
			right: 1%;
			width: 25;
			height: 25px;
			pointer-events: all;
			cursor: pointer;
			i{
				font-size: 2rem;
				color: $pb-white;
				&:hover{
					color: $pb-purple;
				}
			}

		}
		.playbutton{
			@include btn;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			position: absolute;
			right: 50%;
			top: 50%;
			margin-top: -50px;
			padding: 2rem;
			pointer-events: all;
			cursor: pointer;
			z-index: 999;
			@include desktop{
				right: 50%;
			}
			i{
				position: absolute;
				top: 50%;
				left: 57%;
				transform: translate(-50%, -50%);
				font-size: 2.92rem;
			}
		}
	}
}


